<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Features</title>
    <link rel="stylesheet" th:href="@{/css/features.css}" />
</head>
<body>
<div class="features-container">
    <h1>Features of StockWatch</h1>
    <ul>
        <li>Real-time stock price updates</li>
        <li>Manage multiple watchlists</li>
        <li>Set price alerts for your favorite stocks</li>
        <li>View historical price charts</li>
        <li>Get the latest financial news and insights</li>
    </ul>
</div>
</body>
</html>
